.payment-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .payment-container {
    margin-left: 240px; /* Adjust this if your sidebar width is different */
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .payment-form {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .payment-form .MuiTypography-h4 {
    margin-bottom: 20px;
  }
  
  .payment-form .MuiTextField-root {
    margin-bottom: 20px;
  }
  
  .payment-form .MuiButton-root {
    align-self: flex-end;
  }